:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

$btnBgColor: #2A3647;
$btnColor: #fff;
$lightBlue: #29ABE2;
$childMarginRight: 2rem;
$linkColor: #A8A8A8;
$linkFontSize: 16px;
$cardTitleSize: 61px;
$cardPadX: 155px;
$cardPadY: 48px;


header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    >div {
        >:first-child {
            margin-right: $childMarginRight;
        }
    }
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-bottom: 0.5rem;
    text-align: center;

    >:first-child {
        margin-right: $childMarginRight;
    }
}

.btn {
    background-color: $btnBgColor;
    color: $btnColor;
    transition: background-color 80ms ease;
    cursor: pointer;
    font-weight: 700;
    font-size: $linkFontSize;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    &:hover {
        background-color: $lightBlue;
    }
}

.link {
    color: $linkColor;
    font-weight: 400;
    font-size: $linkFontSize;
    cursor: pointer;
}

.card {
    padding: $cardPadY $cardPadX;
    background-color: #fff;
}

.card-header {
    justify-content: center;

    h1 {
        font-size: $cardTitleSize;
        font-weight: 700;
        margin: 0;
        margin-bottom: 0.5rem;
        line-height: normal;
    }
}

.card-line {
    background-color: $lightBlue;
    height: 3px;
    width: 80%;
    border: none;
    border-radius: 8px;
}